{% load i18n %}

<div class="agnosticcontentblock_block">

	<div class="bookmark-button-wrapper">
	  <button id="bookmark-{{block_usage_id}}" class="btn btn-link bookmark-button {{ is_bookmarked|yesno:'bookmarked,' }}"
	    aria-pressed="{{ is_bookmarked|yesno:'true,false' }}"
	    data-bookmark-id="{{bookmark_id}}"
	    data-bookmarks-api-url="{% url 'bookmarks' %}">
	    	{% if is_bookmarked %}
	      <span class="bookmark-text">{% trans "Bookmarked" %}</span>
	      {% else %}
	      <span class="bookmark-text">{% trans "Bookmark this page" %}</span>
	      {% endif %}
	    </button>
	</div>

  {{child_content|safe}}

  <p>
  	<span class='upvote'><span class='count'>{{upvotes}}</span>&uarr;</span>
	  <span class='downvote'><span class='count'>{{downvotes}}</span>&darr;</span>
	</p>
</div>

<!-- @TODO: Move this to stylesheets (and body class?) -->
<style type="text/css">
	body.view-in-course .wrapper-course-material { display: none; }
	.content-wrapper .page-header { display: none; }
	.xmodule_display.xmodule_SequenceModule .sequence-nav { display: none; }
	body.view-in-course .container { margin-top: 30px; }
	.xmodule_display.xmodule_SequenceModule nav.sequence-bottom { display: none; }
	.xblock .xblock h2.unit-title { display: none; }
	.xblock .bookmark-button-wrapper { display: none; }
	.agnosticcontentblock_block .bookmark-button-wrapper { display: block; }
</style>
